<!DOCTYPE html>
<head>
    <title>AE</title>
    <meta charset="UTF-8">
</head>
<body>
    <style>
        body {
            background-color: black;
            color: white;
        }
        #calosc * {
            display: flex;
            flex-flow: column warp;
            flex: 1 1 0;
        }
        #srodek {
            flex-direction: row;
        }
        #lewo {
            flex-direction: column;
        }
    </style>
    <div id="calosc">
        <div>Lorem ipsum dolor.</div>
        <div id="srodek">
            <div id="lewo">
                <div style="background-color: red;">LLorem ipsum dolor sit amet consecteturLorem ipsum dolor sit amet consectetpsum dolor sit amet consectetur adipisicing elit. Nesciunt aliq.</div>
                <div style="background-color: rgb(255, 255, 255);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, molestiae necessitatibus consequatur perferendis asperiore?</div>
            </div>
            <div style="background-color: green;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem modi est quis nemo suscipit, porro vero laborum?Ducimus, dolorem id eaque, temporibus ex atque magnam reprehenderit quam dolorum, recusandae veniam.</div>
            <div style="background-color: blue;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem modi est quis nemo suscipit, porro vero laborum?Ducimus, dolorem id eaque, temporibus ex atque magnam reprehenderit quam dolorum, recusandae veniam.</div>
        </div>
        <div>Lorem ipsum dolor.</div>
    </div>
</body>
</html>