<!DOCTYPE html>
<head>
    <title>AE</title>
    <meta charset="UTF-8">
</head>
<body>
    <style>
        body {
            background-color: black;
            color: white;
        }
        #calosc {
            display: flex;
            flex-direction: column;
        }
        #lewo {
            background-color: aqua;
        }
        #prawo {
            background-color: blueviolet;
        }
        #srodek {
            display: flex;
            flex-direction: row;
        }
    </style>
    <div id="calosc">
        <div>Lorem ipsum dolor.</div>
        <div id="srodek">
            <div id="lewo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt aliquid ipsa quod, dicta nisi
                perspiciatis vitae mollitia quisquam qui, illo amet provident quas assumenda iste et. Fugit hic ipsa sapiente.
            </div>
            <div id="prawo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, saepe, nisi quia laborum iure sint
                qui soluta optio velit adipisci quasi reiciendis culpa, numquam laudantium hic eius rerum repellendus aperiam.
            </div>
        </div>
        <div>Lorem ipsum dolor.</div>
    </div>
</body>
</html>